<%- include('partials/head') %>
<body>
  <%- include('partials/navbar') %>

  <h1>Home Page</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
    pariatur? Modi, nesciunt nobis qui non doloremque magni aliquam distinctio
    iusto ducimus dolorum nulla maiores voluptate reprehenderit vero sint
    tempora voluptatibus.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corrupti
    dolorum dicta facilis praesentium laborum mollitia provident perferendis
    corporis. Repellendus suscipit amet nesciunt modi iusto neque ducimus beatae
    dignissimos quae.
  </p>

  <%- include('partials/footer') %>
</body>
