<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Comment</title>
  </head>
  <body>
    <h1>Make a new comment</h1>

    <form action="/comments" method="post">
      <section>
        <label for="username">Enter username</label>
        <input
          type="text"
          placeholder="username"
          name="username"
          id="username"
        />
        <br />
        <label for="comment">Comment: </label>
        <br />
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        <br />
        <button>Submit</button>
      </section>
    </form>

    <form action="/comments" method="get">
      <button>Get back to the Comments page</button>
    </form>
  </body>
</html>
